@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex {
  display: flex;
}

/* dark 02 */
.text-gray {
  color: #424242;
}
/* dark 03 */
.text-light-gray {
  color: #727272;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary {
  background-color: #ff900e;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}
.text-primary {
  color: #ff900e;
}

/* header styles */

/* navbar related styles */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand {
  font-weight: 700;
  font-size: 3rem;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
}

/* banner related styles */

.banner-content {
  width: 862px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title {
  font-weight: 700;
  font-size: 4rem;
  color: #131313;
}
.banner-description {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 32px;
}
.banner-image {
  width: 100%;
  margin-bottom: 45px;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}

/* teams & features related styles */

.teams {
  align-items: center;
  margin-top: 85px;
  padding-left: 60px;
  margin-bottom: 130px;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-feature {
  margin-left: 73px;
  max-width: 537px;
}
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 24px;
}
.feature-description {
  font-size: 1rem;
  font-weight: 400;
}

/* features-enjoy styles*/
.features-content {
  display: flex;
}

.features-container {
  max-width: 586px;
}
.section-description {
  margin-bottom: 30px;
}

.sub-title {
  font-weight: 600;
  font-size: 1.25rem;
  color: rgb(19, 19, 19);
}
.feature-info {
  width: 514px;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
}
.exp-holder {
  text-align: center;
}
.btn-exp {
  width: 342px;
  height: 200px;
  border-radius: 8px;
  background: rgb(255, 144, 14);
  color: rgb(255, 255, 255);
  text-align: center;
  border: none;
  position: absolute;
  margin-top: -170px;
  margin-left: -92px;
}
.exp-10 {
  font-weight: 700;
  font-size: 4rem;
  color: rgb(255, 255, 255);
}
.exp-text {
  font-weight: 500;
  font-size: 1.5rem;
}
.architect-image {
  max-width: 708px;
  height: 982px;
  margin-left: 146px;
}

/* facts styles */
.facts {
  margin-top: 168px;
}
.facts-container {
  justify-content: space-around;
  margin-top: 100px;
}
.facts-description {
  width: 542px;
  margin-top: 24px;
}
.fact-card {
  width: 245px;
  height: 245px;
  padding: 40px;
  box-sizing: border-box;
  border: 1px solid rgb(255, 144, 14);
  border-radius: 8px;
  text-align: center;
}
.fact-icon {
  width: 45px;
  height: 45px;
}
.fact-number {
  font-weight: 600;
  font-size: 45px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: rgb(66, 66, 66);
}
.fact-name {
  width: 170px;
  font-weight: 600;
  font-size: 20px;
  color: rgb(114, 114, 114);
  margin-top: 0;
}

/* sponsor styles */
.sponsor {
  margin-top: 150px;
}
.sponsor-logo {
  justify-content: space-between;
  margin-top: 50px;
  filter: grayscale(100%);
}
.sponsor-content {
  width: 542px;
  text-align: center;
  margin: 0 auto;
}
.sponsor-info {
  margin-top: 24px;
}
.img-logo {
  width: 180px;
  height: 50px;
}

/* footer styles */
footer {
  margin: 130px 240px 216px 240px;
  background-color: rgb(255, 244, 231);
  border-radius: 8px;
  height: 100px;
}
.footer-text {
  text-align: center;
  padding-top: 40px;
  font-size: 20px;
  font-weight: 400;
  color: rgb(66, 66, 66);
}

/* responsive media query */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .teams {
    flex-direction: column;
  }
  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* medium size devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams,
  .features-content,
  .facts-container,
  .sponsor-logo {
    flex-direction: column;
  }
}
